In [1]:
import pandas as pd
import funciones
import numpy as np
from collections import Counter

### Rutas de los archivos

In [2]:
ruta_cities = '../DATASETS/uscities.xlsx'

In [3]:
ruta = '../DATASETS/business.pkl'

### Abrimos archivo business

In [4]:
df_business = pd.read_pickle(ruta)
df_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,NaN,63123,38.551126,-90.335695,3.0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,NaN,85711,32.223236,-110.880452,3.5,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Obseravmos las columnas duplicadas

In [5]:
df_business.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours', 'business_id', 'name', 'address',
       'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars',
       'review_count', 'is_open', 'attributes', 'categories', 'hours'],
      dtype='object')

Eliminamos columns duplicadas

In [6]:
df_business = df_business.iloc[:, :14]
df_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,NaN,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,NaN,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [7]:
df_business.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours'],
      dtype='object')

### Abrimos archivo cities

In [8]:
df_cities = pd.read_excel(ruta_cities)
df_cities.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,New York,New York,NY,New York,36081,Queens,40.6943,-73.9249,18908608,11080.3,shape,False,True,America/New_York,1,11229 11228 11226 11225 11224 11222 11221 1122...,1840034016
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34.1141,-118.4068,11922389,3184.7,shape,False,True,America/Los_Angeles,1,91367 90291 90293 90292 91316 91311 90035 9003...,1840020491
2,Chicago,Chicago,IL,Illinois,17031,Cook,41.8375,-87.6866,8497759,4614.5,shape,False,True,America/Chicago,1,60018 60649 60641 60640 60643 60642 60645 6064...,1840000494
3,Miami,Miami,FL,Florida,12086,Miami-Dade,25.7840,-80.2101,6080145,4758.9,shape,False,True,America/New_York,1,33128 33129 33125 33126 33127 33149 33144 3314...,1840015149
4,Houston,Houston,TX,Texas,48201,Harris,29.7860,-95.3885,5970127,1384.0,shape,False,True,America/Chicago,1,77069 77068 77061 77060 77063 77062 77065 7706...,1840020925

obtenemos columnas que nos interesan

In [9]:
df_cities = df_cities[["city_ascii", "state_id"]]

In [10]:
df_cities.head()

    city_ascii state_id
0     New York       NY
1  Los Angeles       CA
2      Chicago       IL
3        Miami       FL
4      Houston       TX

AGregar columnas id a ambos datasets

In [11]:
df_cities["id"] = df_cities.index
df_business["id"] = df_business.index

combinar datasets

In [12]:
df_combined = pd.merge(df_business, df_cities, how="inner", on="id")
df_combined.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,id,city_ascii,state_id
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None,0,New York,NY
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,NaN,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ...",1,Los Angeles,CA
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,NaN,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ...",2,Chicago,IL
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",3,Miami,FL
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2...",4,Houston,TX

Corregimos inconsistencias

In [13]:
# Detectar inconsistencias (por ejemplo, ciudad en df_business no coincide con ninguna ciudad en df_cities)
df_combined["city_match"] = df_combined["city"] == df_combined["city_ascii"]

In [14]:
# Corregir ciudades y estados usando el dataset "cities"
df_combined["city"] = df_combined["city_ascii"]
df_combined["state"] = df_combined["state_id"]

In [15]:
# Eliminar columnas redundantes
df_combined.drop(columns=["city_ascii", "state_id"], inplace=True)

In [16]:
df_combined.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours', 'id', 'city_match'],
      dtype='object')

In [17]:
df_business = df_combined

Extraemos latitud y longitud de cities

In [18]:
dfcities2 = pd.read_excel(ruta_cities)

In [19]:
coordenadas = dfcities2[["lat", "lng"]]

creamos un id a coordenadas

In [20]:
coordenadas["id"] = coordenadas.index

C:\Users\Dell\AppData\Local\Temp\ipykernel_4712\1006431995.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  coordenadas["id"] = coordenadas.index

combinamos con business

In [21]:
df_business = pd.merge(df_business, coordenadas, how="inner", on="id")

In [22]:
df_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,id,city_match,lat,lng
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",New York,NY,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None,0,False,40.6943,-73.9249
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Los Angeles,CA,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ...",1,False,34.1141,-118.4068
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Chicago,IL,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ...",2,False,41.8375,-87.6866
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Miami,FL,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",3,False,25.7840,-80.2101
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Houston,TX,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2...",4,False,29.7860,-95.3885

Corregimos latitude y longitude

In [23]:
df_business["latitude"] = df_business["lat"]
df_business["longitude"] = df_business["lng"]

In [24]:
df_business.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours', 'id', 'city_match', 'lat', 'lng'],
      dtype='object')

Obtenemos columnas deseadas

In [25]:
df_business = df_business[["business_id", "name", "address", "city", "state", "latitude", "longitude", "stars", "review_count", "is_open", "attributes", "categories", "hours",]]

In [26]:
df_business.head()

,business_id,name,address,city,state,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",New York,NY,40.6943,-73.9249,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Los Angeles,CA,34.1141,-118.4068,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Chicago,IL,41.8375,-87.6866,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Miami,FL,25.7840,-80.2101,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Houston,TX,29.7860,-95.3885,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [27]:
df_business["hours"]=df_business["hours"].replace('{', '[', regex=True)
df_business["hours"]=df_business["hours"].replace('}', ']', regex=True)
df_business["attributes"]=df_business["attributes"].replace('"{', '[', regex=True)
df_business["attributes"]=df_business["attributes"].replace('}"', ']', regex=True)
df_business["attributes"]=df_business["attributes"].replace('{', '[', regex=True)
df_business["attributes"]=df_business["attributes"].replace('}', ']', regex=True)

In [28]:
df_business.head()

,business_id,name,address,city,state,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",New York,NY,40.6943,-73.9249,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Los Angeles,CA,34.1141,-118.4068,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Chicago,IL,41.8375,-87.6866,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Miami,FL,25.7840,-80.2101,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Houston,TX,29.7860,-95.3885,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [29]:
df_business = df_business.drop(['is_open'], axis=1)

In [30]:
df_business.head()

,business_id,name,address,city,state,latitude,longitude,stars,review_count,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",New York,NY,40.6943,-73.9249,5.0,7,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Los Angeles,CA,34.1141,-118.4068,3.0,15,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Chicago,IL,41.8375,-87.6866,3.5,22,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Miami,FL,25.7840,-80.2101,4.0,80,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Houston,TX,29.7860,-95.3885,4.5,13,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [31]:
state_origin = df_business["state"].unique()
state_origin

array(['NY', 'CA', 'IL', 'FL', 'TX', 'PA', 'GA', 'DC', 'MA', 'AZ', 'MI',
       'WA', 'MN', 'CO', 'NV', 'MD', 'MO', 'OR', 'PR', 'IN', 'OH', 'VA',
       'NC', 'WI', 'RI', 'TN', 'UT', 'OK', 'CT', 'KY', 'LA', 'NE', 'AL',
       'NM', 'SC', 'IA', 'KS', 'AR', 'ID', 'NJ', 'HI', 'MS', 'AK', 'NH',
       'ND', 'ME', 'SD', 'WV', 'MT', 'DE', 'VT', 'WY'], dtype=object)

In [32]:
desired_states = ['NV', 'FL', 'CA']
filtered_df = df_business[df_business['state'].isin(desired_states)]
filtered_df

,business_id,name,address,city,state,latitude,longitude,stars,review_count,attributes,categories,hours
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Los Angeles,CA,34.1141,-118.4068,3.0,15,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Miami,FL,25.7840,-80.2101,4.0,80,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
13,jaxMSoInw8Poo3XeMJt8lQ,Adams Dental,15 N Missouri Ave,San Francisco,CA,37.7558,-122.4449,5.0,10,{'ByAppointmentOnly': 'True'},"General Dentistry, Dentists, Health & Medical,...","{'Monday': '7:30-15:30', 'Tuesday': '7:30-15:3..."
14,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,San Diego,CA,32.8313,-117.1222,4.5,100,"{'OutdoorSeating': 'False', 'RestaurantsGoodFo...","Food, Delis, Italian, Bakeries, Restaurants","{'Monday': '10:0-18:0', 'Tuesday': '10:0-20:0'..."
16,rBmpy_Y1UbBx8ggHlyb7hA,Arizona Truck Outfitters,625 N Stone Ave,Tampa,FL,27.9945,-82.4447,4.5,10,"{'DriveThru': 'False', 'BusinessAcceptsCreditC...","Automotive, Auto Parts & Supplies, Auto Custom...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-17:0', '..."
...,...,...,...,...,...,...,...,...,...,...,...,...
31094,gLPlHz4xHajEWqQ88w8_tg,Wawa,579 N Lewis Rd,Brooks,CA,38.7369,-122.1468,3.5,5,"{'BusinessParking': '{'garage': False, 'street...","Food, Convenience Stores, Automotive, Restaura...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
31097,QtgubTRRFHtEL_fmsMQRCg,Fujiyama,283 N Milwaukee St,Blairsden,CA,39.7752,-120.6109,4.0,178,"{'WheelchairAccessible': 'True', 'RestaurantsT...","Japanese, Restaurants","{'Monday': '0:0-0:0', 'Wednesday': '11:0-22:0'..."
31104,FoInxau7UwTN2vguRTBNQA,Hong Restaurant,420 W Grange Ave,Belden,CA,40.0040,-121.2538,4.5,5,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Korean, Restaurants","{'Monday': '9:30-21:0', 'Tuesday': '9:30-21:0'..."
31113,-bgu0iDSGLlYZoeRs2qdoA,Taco Bell,1932 Richardson Road,McGee Creek,CA,37.5727,-118.7910,2.5,14,"{'RestaurantsGoodForGroups': 'True', 'Restaura...","Tex-Mex, Tacos, Mexican, Restaurants, Breakfas...","{'Monday': '8:0-3:0', 'Tuesday': '8:0-3:0', 'W..."
31114,J85Ien0NnLdWhtopkfWA2g,Parkway,1127 Race St,Mount Wilson,NV,38.2350,-114.4504,2.0,6,{'BusinessAcceptsCreditCards': 'True'},"Automotive, Parking","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."

In [33]:
state = filtered_df["state"].unique()
state

array(['CA', 'FL', 'NV'], dtype=object)

In [34]:
filtered_df.dropna(axis=0, how='any')

,business_id,name,address,city,state,latitude,longitude,stars,review_count,attributes,categories,hours
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Los Angeles,CA,34.1141,-118.4068,3.0,15,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Miami,FL,25.7840,-80.2101,4.0,80,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
13,jaxMSoInw8Poo3XeMJt8lQ,Adams Dental,15 N Missouri Ave,San Francisco,CA,37.7558,-122.4449,5.0,10,{'ByAppointmentOnly': 'True'},"General Dentistry, Dentists, Health & Medical,...","{'Monday': '7:30-15:30', 'Tuesday': '7:30-15:3..."
14,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,San Diego,CA,32.8313,-117.1222,4.5,100,"{'OutdoorSeating': 'False', 'RestaurantsGoodFo...","Food, Delis, Italian, Bakeries, Restaurants","{'Monday': '10:0-18:0', 'Tuesday': '10:0-20:0'..."
16,rBmpy_Y1UbBx8ggHlyb7hA,Arizona Truck Outfitters,625 N Stone Ave,Tampa,FL,27.9945,-82.4447,4.5,10,"{'DriveThru': 'False', 'BusinessAcceptsCreditC...","Automotive, Auto Parts & Supplies, Auto Custom...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-17:0', '..."
...,...,...,...,...,...,...,...,...,...,...,...,...
31094,gLPlHz4xHajEWqQ88w8_tg,Wawa,579 N Lewis Rd,Brooks,CA,38.7369,-122.1468,3.5,5,"{'BusinessParking': '{'garage': False, 'street...","Food, Convenience Stores, Automotive, Restaura...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
31097,QtgubTRRFHtEL_fmsMQRCg,Fujiyama,283 N Milwaukee St,Blairsden,CA,39.7752,-120.6109,4.0,178,"{'WheelchairAccessible': 'True', 'RestaurantsT...","Japanese, Restaurants","{'Monday': '0:0-0:0', 'Wednesday': '11:0-22:0'..."
31104,FoInxau7UwTN2vguRTBNQA,Hong Restaurant,420 W Grange Ave,Belden,CA,40.0040,-121.2538,4.5,5,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Korean, Restaurants","{'Monday': '9:30-21:0', 'Tuesday': '9:30-21:0'..."
31113,-bgu0iDSGLlYZoeRs2qdoA,Taco Bell,1932 Richardson Road,McGee Creek,CA,37.5727,-118.7910,2.5,14,"{'RestaurantsGoodForGroups': 'True', 'Restaura...","Tex-Mex, Tacos, Mexican, Restaurants, Breakfas...","{'Monday': '8:0-3:0', 'Tuesday': '8:0-3:0', 'W..."
31114,J85Ien0NnLdWhtopkfWA2g,Parkway,1127 Race St,Mount Wilson,NV,38.2350,-114.4504,2.0,6,{'BusinessAcceptsCreditCards': 'True'},"Automotive, Parking","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."

In [35]:
funciones.verificar_datos(filtered_df)

Advertencia: la columna attributes, tiene valores nulos
Advertencia: la columna categories, tiene valores nulos
Advertencia: la columna hours, tiene valores nulos

,columna,tipo_dato,datos_nulos,porcentaje_nulos,porcentaje_no_nulos
0,business_id,[<class 'str'>],0,0.00,100.00
1,name,[<class 'str'>],0,0.00,100.00
2,address,[<class 'str'>],0,0.00,100.00
3,city,[<class 'str'>],0,0.00,100.00
4,state,[<class 'str'>],0,0.00,100.00
5,latitude,[<class 'float'>],0,0.00,100.00
6,longitude,[<class 'float'>],0,0.00,100.00
7,stars,[<class 'float'>],0,0.00,100.00
8,review_count,[<class 'int'>],0,0.00,100.00
9,attributes,"[<class 'dict'>, <class 'NoneType'>]",218,8.17,91.83
10,categories,"[<class 'str'>, <class 'NoneType'>]",3,0.11,99.89
11,hours,"[<class 'dict'>, <class 'NoneType'>]",412,15.44,84.56

In [36]:
# Assuming your DataFrame is named `df_business`

# Find rows with null values in "categories"
df_null_categories = filtered_df[filtered_df['categories'].isnull()]
df_null_categories

,business_id,name,address,city,state,latitude,longitude,stars,review_count,attributes,categories,hours
1917,SMYXOLPyM95JvZ-oqnsWUA,A A Berlin Glass & Mirror Co,60 W White Horse Pike,Rosemont,CA,38.5478,-121.3553,3.0,5,None,None,None
3324,_obl2-rphXvtzP3y_ekV1Q,Certegy Payment Services,11601 Roosevelt Blvd N,Florida City,FL,25.4418,-80.4685,1.0,7,None,None,None
13023,cs7i8-NtrT2P4dMYa2fX-g,Direct USA,"6201 Johns Rd, Ste 12",Midway,FL,28.7924,-81.2314,1.0,5,None,None,None

In [37]:
filtered_df = filtered_df.replace('None', np.nan)  # Replace "None" in specific columns (optional)

In [38]:
filtered_df = filtered_df.dropna(axis=0)  # Drop rows with any "None" value (all columns)

In [39]:
funciones.verificar_datos(filtered_df)

,columna,tipo_dato,datos_nulos,porcentaje_nulos,porcentaje_no_nulos
0,business_id,[<class 'str'>],0,0.0,100.0
1,name,[<class 'str'>],0,0.0,100.0
2,address,[<class 'str'>],0,0.0,100.0
3,city,[<class 'str'>],0,0.0,100.0
4,state,[<class 'str'>],0,0.0,100.0
5,latitude,[<class 'float'>],0,0.0,100.0
6,longitude,[<class 'float'>],0,0.0,100.0
7,stars,[<class 'float'>],0,0.0,100.0
8,review_count,[<class 'int'>],0,0.0,100.0
9,attributes,[<class 'dict'>],0,0.0,100.0
10,categories,[<class 'str'>],0,0.0,100.0
11,hours,[<class 'dict'>],0,0.0,100.0

In [40]:
filtered_df.to_csv('../DATASETS/business_corregido.csv')